<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Livres Java
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let b of getItems()">
      <ion-avatar item-start>
        <img src="{{b.thumbnailUrl}}"/>
      </ion-avatar>
      <ion-label>
        <h2>{{b.title}}</h2>
        <h3>{{b.authors}}</h3>
        <p>{{b.categories}}</p>
      </ion-label>
      
    </ion-item>
  </ion-list>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
